.compos {
  height: 100%;display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#recherche-part{
  display: flex;
  flex-direction: column;
  align-items: center;
}
