.search-wrapper{
  display: flex;
  justify-content: center;
}
.search{
  width: 70%;
  display: flex;
  flex-direction: row;
  background-color: rgba(194, 221, 229, 0.5);
  height: 2.4em

}
.search, input{
  border-radius: 10px;
}
input  {
  text-align: end;
  width: 100%;
  background-color: transparent;
  border: none;
  font-size:x-large;
  color: aliceblue;
}
input:focus {
  outline: 0px;
}
button[no_search]{
  background-color: gray;
  cursor:not-allowed;
}

