<div class="compos">
  <div  id="recherche-part">
    <h1>que recherchez vous ?</h1>
    <app-recherche></app-recherche>
  </div>
  <app-infouser></app-infouser>
</div>
<div style="display:none ;">
  <div>
    idées pour plus tard :
    <ul>
      <li>
        Ceci est un projet purement FrontEnd,
        on pourrait montrer à l'utilisateur toutes les données que le navigateur est capable de voir sur lui
        (Adresse IP, Système d'exploitation, navigateur, position géographique, clavier...)

      </li>
      <li>
        Restyliser le composant de recherche.
      </li>
      <li>
        Tapper dans l'<a href="https://youtu.be/4EGwL4tXa7M">API spotify</a>
      </li>
      <li>
        Utiliser le  <a href="https://www.npmjs.com/package/angular-spotify">module spotify</a>
      </li>
      <li>
        Rajouter des copyrights.. Lien Git ?
      </li>
    </ul>
  </div>

</div>

