.compos {
  height: 100%;display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: xx-large !important;
}
#recherche-part{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-and-text{
  display: flex;
  gap:5px;
}
