<div class="compos">
  <div  id="recherche-part">
    <p>Bonjour,<fa-icon [icon]="meteoIcon"></fa-icon></p>
        <h1>que recherchez vous ?</h1>
    <app-recherche></app-recherche>
  </div>
  <div>
    <button mat-button (click)="couleur()" ><span class="icon-and-text"><fa-icon [icon]="colorIcon"></fa-icon> <span>Changer de couleur</span></span></button>
    <button mat-button (click) ="infoUser()"><span class="icon-and-text"><fa-icon [icon]="locationIcon"></fa-icon> <span>Voir mes informations</span></span></button>
  </div>
</div>
