.search-wrapper{
  display: flex;
}
.search{
  display: flex;
  flex-direction: row;
  background-color: rgba(221, 222, 223, 0.2);
}
.search, input{
  border-radius: 10px;
}
input  {
  width: 100%;
  color:whitesmoke;
  text-shadow:navy 0px 0 10px;
  font-size:xx-large;
  text-align: center;
  background-color: transparent;
  border: none;
}
input:focus {
  outline: 0px;
}
button[no_search]{
  background-color: gray;
  cursor:not-allowed;
}

::placeholder {
  text-shadow: none;
}
