<div class="search-wrapper">
  <div class="search">
    <input (focus)="selection()"  placeholder="Météo du jour..." autofocus [(ngModel)]="search"   (keyup.enter)="rechercher()">
    <button search *ngIf="this.search!='' else no_search" mat-raised-button color="primary" (click)="rechercher()"
    [style]="'background-color:'+couleurBouton"
    ><mat-icon>search</mat-icon>
    </button>

    <ng-template #no_search>
      <button no_search mat-raised-button ><mat-icon>search</mat-icon></button>
    </ng-template>

  </div>
</div>
