.search-wrapper{
  display: flex;
}
.search{
  display: flex;
  flex-direction: row;
  background-color: rgba(221, 222, 223, 0.2);
}
.search, input{
  border-radius: 10px;
}
input  {
  width: 100%;
  color: inherit;
  text-shadow:navy 0px 0 10px;
  font-size:xx-large;
  text-align: center;
  background-color: transparent;
  border: none;
}
input:focus {
  outline: 0px;
}
button[no_search]{
  /*display: none;*/
  background-color: rgba(128, 128, 128,0);
  box-shadow:unset;
  color: inherit;
  cursor:not-allowed;
}
button[search]{
  background-color: navy;
  box-shadow: 0px 0px 10px white;

}

::placeholder {
  text-shadow: none;
  color: gray;
}
