/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   color:whitesmoke;
  background-image: linear-gradient(to bottom, #002762, #005ba4, #008fba, #00c193, #12eb37);
  background: linear-gradient(110deg, navy 60%, springgreen 60%);
}
app-root {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
