ul {
  list-style:square;
}
div.mat-dialog-title {
  display: flex;
  align-items: center;
}
.info-container{
  display: flex;
  justify-content: space-between;
}
.info-group-label {
  text-align: center;
}
.info-group {
  margin-top: 0.5em;
}
.loading-container{
  display: flex;
  justify-content: center;
}
